{% extends "aplicacion/index.html" %}
{% load static %}

{% block Body %}
<header class="mastheadconsultas">
    <div class="staff-container">
        <div class="staff-card">
            <h2>Kinesiología Dermatofuncional y Estética</h2>
            <h3>Verónica Di Giannantonio M.2871/2</h3>
            <img src="{% static 'aplicacion/assets/img/vero_staff.jpg' %}" alt="Verónica Di Giannantonio">
        </div>
        <div class="staff-card">
            <h2>Reeducación Postural Global (R. P. G.)</h2>
            <h3>Guido Bazzana M.1587/2</h3>
            <img src="{% static 'aplicacion/assets/img/guido_staff.jpg' %}" alt="Guido Bazzana">
        </div>
    </div>
</header>


{% endblock Body %}